@media (max-width: 800px) {
    .Weather {
        margin: 1vmin;
        border-radius: 1vmax;
        padding: 1vmin;
        color: #b9b9b9;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1d8591+0,2a4a4f+100 */
        background: #1d8591;
        /* Old browsers */
        background: -moz-linear-gradient(top, #1d8591 0%, #2a4a4f 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #1d8591 0%, #2a4a4f 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #1d8591 0%, #2a4a4f 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1d8591', endColorstr='#2a4a4f', GradientType=0);
        /* IE6-9 */
        box-shadow: 0px 0px 1vmin 0.2vmin #0e7f8b;
        max-width: 100vw;
    }
    .Weather__p {
        font-weight: 300;
        border-bottom: 1px solid grey;
        color: orange;
        font-size: 2.5vmax;
        width: 100%;
    }
    .Weather__info {
        color: white;
    }
    .Weather>button {
        font-size: 1.5vmax;
    }
    .weather__icon {
        justify-self: flex-start;
        padding: 0;
        margin: 1vmin;
        box-shadow: 0 0 0.5vmin 0.1vmin #17a0b0;
        border-radius: 40%;
        animation: Icon-rotate infinite 5s linear;
    }
    .Weather__wind-arrow {
        width: 4vmax;
        background-color: white;
        border-radius: 50%;
        margin: 1vmax;
    }
}

@media (min-width: 800px) {
    .Weather {
        margin: 1vmin;
        border-radius: 1vmin;
        padding: 1vmin;
        color: #b9b9b9;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1d8591+0,2a4a4f+100 */
        background: #1d8591;
        /* Old browsers */
        background: -moz-linear-gradient(top, #1d8591 0%, #2a4a4f 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #1d8591 0%, #2a4a4f 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #1d8591 0%, #2a4a4f 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1d8591', endColorstr='#2a4a4f', GradientType=0);
        /* IE6-9 */
        box-shadow: 0px 0px 1vmin 0.2vmin #0e7f8b;
        max-height: auto;
    }
    .Weather__p {
        font-weight: 300;
        border-bottom: 1px solid grey;
        color: orange;
        font-size: 2vmax;
        width: 100%;
    }
    .Weather>button {
        font-size: 1.5vmax;
    }
    .weather__icon {
        padding: 0;
        margin: 1vmin;
        box-shadow: 0 0 1vmax 0.3vmin #1cc4d6 inset;
        border-radius: 50%;
        animation: Icon-rotate infinite 5s linear;
        width: 50%;
    }
    .Weather__info {
        color: white;
    }
    .Weather__wind-arrow {
        width: 3vmax;
        background-color: white;
        border-radius: 50%;
        margin: 1vmin;
    }
}

@keyframes Icon-rotate {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}