.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 2s ease;
    height: 10vmin;
    pointer-events: none;
}

.App-header {
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-header>button {
    transition: all 500ms ease;
    margin: 1vmin;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    0% {
        transform: translateX(-20vw) rotate(0deg);
    }
    50% {
        transform: translateX(20vw) rotate(720deg);
    }
    100% {
        transform: translateX(-20vw) rotate(0deg);
    }
}

.temp_extr {
    display: flex;
    flex-flow: column nowrap;
}

.Weather-node-enter {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(30px);
    overflow: hidden;
    transition: opacity 200ms ease-in-out, filter 200ms ease-in-out, transform 200ms ease-in-out;
}

.Weather-node-enter-active {
    opacity: 1;
    filter: blur(0);
    transform: rotateY(0);
    transition: opacity 200ms ease-in-out, filter 200ms ease-in-out, transform 200ms ease-in-out;
    overflow: hidden;
}

.Weather-node-exit-active {
    opacity: 1;
    transform: rotateY(0);
    filter: blur(0);
    transition: opacity 200ms ease-in-out, filter 200ms ease-in-out, transform 200ms ease-in-out;
    overflow: hidden;
}

.Weather-node-exit {
    opacity: 0;
    filter: blur(30px);
    transform: rotateY(90deg);
    overflow: hidden;
    transition: opacity 200ms ease-in-out, filter 200ms ease-in-out, transform 200ms ease-in-out;
    overflow: hidden;
}